.search{
    display: flex;
    justify-content: center;
    background-color: #004aad;
    margin-top: -20px;
}

#searchBar {
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 16px;
    width: 150px;
}

.nav-bar{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    background-color: #004aad;
}

.nav-bar nav {
    background-color: #004aad;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu{
    margin-left: 60px ;
    margin-right: -80px ;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: -100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul {
    font-weight: bold;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.login{
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 18px;
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
    cursor: pointer;
    transition: 0.3s;
}

.login:hover{
    background-color: #ffffff00;
    color: #ffffff;
    cursor: pointer;
}

.signup{
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 18px;
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
    cursor: pointer;
    transition: 0.3s;
}

.signup:hover{
    background-color: #ffffff00;
    color: #ffffff;
    cursor: pointer;
}

.logout{
    margin-left: 100px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 18px;
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
    cursor: pointer;
    transition: 0.2s;
}

.logout:hover{
    background-color: #ffffff00;
    color: #000000;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn{
    font-weight: bold;
    background-color: #004aad;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute; 
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}